<% provide(:title, @play.title) %>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body text-center"><%= image_tag @play.image.variant(combine_options:{resize:"325x475^",crop:"325x475+0+0",gravity: :center, border:'5',bordercolor:'black'}) %>
        Posted by <%= link_to @user.name, user_path(@user) %>
      </div>
      <div class="panel-footer play-update">
        <button class="btn btn-default"><%= link_to "Video", @play.url %></button>
        <% if user_signed_in? %>
          <% if @play.user_id == current_user.id %>
            <button class="btn btn-success"><%= link_to "編集", edit_play_path(@play) %></button>
            <button class="btn btn-danger"><%= link_to "削除", play_path(@play), method: :delete, data: {confirm: "Are you sure ?" } %></button>  
          <% end %>
        <% end %>
      </div>
    </div>
      <span id="like-of-<%= @play.id %>">
        <%= render "favorite", play: @play %>
      </span>  
  </div>  
  <div class="col-md-8 play-show">
    <h1><%= @play.title %></h2>
    <h2><%= @play.director %></h2>
    <h5>カテゴリー：<%= @play.category.name %></h5>
    <p><%= @play.description %></p>
    <p class="row related_image">
      <P class="related-plays"><関連作品></P>
      <% @related_plays.each do |related_play| %>
        <%= link_to (play_path(related_play)) do %>
          <%= image_tag related_play.image.variant(combine_options:{resize:"140x190^",crop:"140x190+0+0",gravity: :center, border:'3',bordercolor:'black'}) %>
        <% end %>
      <% end %> 
    </p>  
    <p><コメント></p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
      <% if user_signed_in? %>
        <%= render partial: 'comments/form', locals: { comment: @comment, play: @play } %>
      <% else %>
        <%= button_to "ログインしてコメントしてみよう!", new_user_session_path , class: "btn btn-info" %>  
      <% end %>
    </div>
  </div>
</div>



