<div class="row">
  <div class="col-md-5">
    <%= image_tag @user.avatar.variant(combine_options:{resize:"350x400^",crop:"350x400+0+0",gravity: :center, border:'3',bordercolor:'black'}) %>
    <h4>ユーザー名: <%= @user.name %></h4>  
    <% if @user.fav_movies.any? %>
      <h5 class="related_image"><いいねしたMovie一覧><h5>
        <% @fav_movies.each do |movie| %>
          <%= link_to image_tag(movie.image.variant(combine_options:{resize:"100x150^",crop:"100x150+0+0",gravity: :center, border:'3',bordercolor:'black'})),play_path(movie) %>
        <% end %> 
    <% end %>     
  </div>
  <div class="col-md-4">
    <p><投稿したMOVIE一覧></p>
    <% @plays.each do |play| %>  
      <div class="panel panel-default">
        <div class="panel-heading"><h5><%= play.title %></h5></div>
          <div class="panel-body">
              <p class="text-center">
                <% if play.image.attached? %>
                  <%= link_to image_tag(play.image.variant(combine_options:{resize:"280x320^",crop:"280x320+0+0",gravity: :center})),play_path(play) %>
                <% end %>
              </p>
          </div>
        </div>      
    <% end %>
      </div>     
  </div>
</div>


