<div class="row">
  <div class="col-md-6">
    <%= image_tag @user.avatar.variant(combine_options:{resize:"350x400^",crop:"350x400+0+0",gravity: :center, border:'3',bordercolor:'black'}) %>
    <% if user_signed_in? %>
      <% if @user.id == current_user.id %>
        <p class="UserProfile">
          <button class="btn btn-primary"><%= link_to "ユーザー編集", edit_user_registration_path(@user) %></button>
          <button class="btn btn-danger"><%= link_to "ユーザー削除", registration_path(@user), data: { confirm: "Really?" }, method: :delete %></button>
        </p>
      <% end %>
    <% end %>    
  </div>
  <div class="col-md-4">
    <% @plays.each do |play| %>  
      <div class="panel panel-danger">
        <div class="panel-heading"><%= play.title %></div>
          <div class="panel-body">
              <p class="text-center">
                <% if play.image.attached? %>
                  <%= link_to image_tag(play.image.variant(combine_options:{resize:"280x320^",crop:"280x320+0+0",gravity: :center})),play_path(play) %>
                <% end %>
              </p>
          </div>
        </div>      
    <% end %>
    </div>     
  </div>
</div>


